about {
 h1{
    color: #FF954D;
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
 }

 .margin-auto{
   margin: auto;
   text-align: center;
   text-align: justify;
 }

 .margin-bottom{
  margin-bottom: 20px;
 }
}
